In [9]:
import pandas as pd
df = pd.read_csv('C:/Users/USER/Desktop/platform_sales/platform_sales/platform_sales_1.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4123 entries, 0 to 4122
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 4123 non-null   int64
 1   created            4123 non-null   object
 2   modified           4123 non-null   object
 3   remark             0 non-null      float64
 4   num_approval       1948 non-null   float64
 5   card_company       4123 non-null   object
 6   card_category      4123 non-null   object
 7   card_number        1960 non-null   object
 8   amount_sale        4123 non-null   int64
 9   amount_fee         4123 non-null   int64
 10  amount_deposit     4123 non-null   int64
 11  is_canceled        4123 non-null   bool
 12  sold_at            4123 non-null   object
 13  will_deposited_at  4123 non-null   object
 14  raw_data           4119 non-null   object
 15  platform           4123 non-null   object
 16  daily_sale_id      3729 non-null   float64
 17  store_id           4123 non-null   int64
 18  result_code        0 non-null      float64
 19  result_msg         0 non-null      float64
 20  extra_payment_id   0 non-null      float64
 21  detail_status      4123 non-null   object
 22  processing_status  4123 non-null   object
dtypes: bool(1), float64(6), int64(5), object(11)
memory usage: 712.8+ KB

In [4]:
import pymysql

connect = pymysql.connect(
    host = 'localhost',
    port = 3306,
    user = 'root',
    password = 'sng24678@'
)

cursor = connect.cursor()

In [5]:
cursor.execute("CREATE DATABASE EarlyPay")
connect.commit()

In [6]:
cursor.execute("SHOW DATABASES")
for data in cursor:
    print(data)

('cafe_reviewdb',)
('earlypay',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [1]:
import pymysql

connect = pymysql.connect(
    host = 'localhost',
    port = 3306,
    user = 'root',
    password = 'sng24678@',
    database = 'EarlyPay'
)

cursor = connect.cursor()

In [5]:
sql = """CREATE TABLE platform_sales (
        id int PRIMARY KEY,
        created varchar(100),
        modified varchar(100),
        remark longtext,
        num_approval varchar(100),
        card_company varchar(100),
        card_category varchar(100),
        card_number varchar(100),
        amount_sale int,
        amount_fee int,
        amount_deposit int,
        is_canceled boolean,
        sold_at varchar(100),
        will_deposited_at varchar(100),
        raw_data longtext,
        platform varchar(100),
        daily_sale_id int,
        store_id int,
        result_code varchar(100),
        result_msg longtext,
        extra_payment_id int,
        detail_status varchar(100),
        processing_status varchar(100))
        """

In [6]:
cursor.execute(sql)
connect.commit()

In [7]:
#TABLE 목록 확인
cursor.execute("SHOW TABLES")
for data in cursor:
    print(data)

('platform_sales',)

In [8]:
#Table 안의 컬럼 정보 확인
cursor.execute("desc platform_sales")
for data in cursor:
    print(data)

('id', 'int', 'NO', 'PRI', None, '')
('created', 'varchar(100)', 'YES', '', None, '')
('modified', 'varchar(100)', 'YES', '', None, '')
('remark', 'longtext', 'YES', '', None, '')
('num_approval', 'varchar(100)', 'YES', '', None, '')
('card_company', 'varchar(100)', 'YES', '', None, '')
('card_category', 'varchar(100)', 'YES', '', None, '')
('card_number', 'varchar(100)', 'YES', '', None, '')
('amount_sale', 'int', 'YES', '', None, '')
('amount_fee', 'int', 'YES', '', None, '')
('amount_deposit', 'int', 'YES', '', None, '')
('is_canceled', 'tinyint(1)', 'YES', '', None, '')
('sold_at', 'varchar(100)', 'YES', '', None, '')
('will_deposited_at', 'varchar(100)', 'YES', '', None, '')
('raw_data', 'longtext', 'YES', '', None, '')
('platform', 'varchar(100)', 'YES', '', None, '')
('daily_sale_id', 'int', 'YES', '', None, '')
('store_id', 'int', 'YES', '', None, '')
('result_code', 'varchar(100)', 'YES', '', None, '')
('result_msg', 'longtext', 'YES', '', None, '')
('extra_payment_id', 'int', 'YES', '', None, '')
('detail_status', 'varchar(100)', 'YES', '', None, '')
('processing_status', 'varchar(100)', 'YES', '', None, '')

In [9]:
import numpy as np
import pandas as pd
SQL = "insert into platform_sales VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
for i in range(1,50):
    df = pd.read_csv(f"C:/Users/USER/Desktop/platform_sales/platform_sales/platform_sales_{i}.csv")
    df = df.replace({np.nan: None})  # nan -> None
    for idx in range(len(df)):
        cursor.execute(SQL, tuple(df.values[idx]))
connect.commit()

In [11]:
query = "Select * from platform_sales"

sample = pd.read_sql(query, connect)
print(sample.shape)

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_41532\2427940936.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sample = pd.read_sql(query, connect)

(240298, 23)

In [ ]:
connect.close()